/* CSS by ///ADD/// YOUR NAME */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link {
  position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* ///ADD/// Navigation Styles */
#menu-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}

#menu {
  list-style: none;
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  background-color: var(--blue-bulletin);
  transition: var(--transition);
  border-radius: .25rem;
}

#menu li {
  border-top: 1px solid var(--watchdog-white);
}

#menu li a {
  display: block;
  padding: 0.75rem 1rem;
  color: var(--watchdog-white);
  text-decoration: none;
  font-family: var(--font-body);
}

#menu-toggle:checked + #menu-button + #menu {
  display: block;
}

/* ///ADD/// Global Layout Styles */
body {
  font-family: var(--font-body);
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  padding: 1rem;
}

header {
  background-color: var(--blue-bulletin);
  margin-bottom: 2rem;
}



/* ///ADD/// Global Text Styles */


/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {

  

}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {

  nav {
    display: flex;
    alighn-items: center;
    justify-content: space-between;
  }

}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {

  main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
  }

  #intro {
    grid-column: 1 / 3;
  }

  #breaking-news {
    grid-column: 1 / 2;
  }

  #featured-articles {
    grid-column: 2 / 3;
  }

  #featured-articles article {
    display: grid;
    grid-template-columns: 1fr;
    
  }

}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}